*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:#daeafa;
    width: 100%;
    padding: 20px;
}
body header{
    width: 100%;
    height: 90px;
    background-color: rgb(82, 156, 82);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    align-items: center;
}
header h1{
    font-family: sans-serif;
    color: white;
}
header h1 a{
    text-decoration: none;
    color: white;
    transition: 0.5s;
    font-size: 35px;

}
header h1 a:hover{
    font-size: 40px;
    color: orange;
}

/* menu */
header .menu ul{
    list-style: none;
    display: flex;
    gap: 20px;
    padding-right:20px ;

}
header .menu ul li{
    gap: 20px;
}
header .menu ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
header .menu ul li a:hover{
    color: orange;
}






/* Footer */
footer{
    /* width: 100%; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(82, 156, 82);
    position: fixed;
    bottom: 0px;
    width: 100%;
    left: 0px;
    height: 100px;
    padding: 5px 10px;
}
footer .left{
    width: 33%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
footer .left h1 a{
 text-decoration: none;
 color: white;
 font-family: sans-serif;
}
footer .left h1 a:hover{
    color: orange;
}


 @media (max-width: 768px){
    footer{
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(82, 156, 82);
    /* position: fixed; */
    bottom: 0px;
    width: 100%;
    left: 0px;
    /* height: 100px; */
    padding: 5px 10px;
}
footer .left{
    width: 33%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
footer .left h1 a{
 text-decoration: none;
 color: white;
 font-family: sans-serif;
}
footer .left h1 a:hover{
    color: orange;
}
 }



footer .center{
    width: 33%;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    border-left: 5px solid rgb(7, 188, 49);
    justify-content: center;

}
footer .center a{
    text-align: center;
    text-decoration: none;
    color: white;
}
footer .center a:hover{
    color: orange;
}
footer .right{
    width: 33%;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    border-left: 5px solid rgb(7, 188, 49);
    justify-content: center;
    flex-direction: column;
    color: white;
    font-family: sans-serif;
    height: 100%;
}




/* Index */
.hero{
    width: 90%;
    margin: 0px auto;
    padding: 20px;
    display: flex;
}
.hero .left{
    width: 50%;
    font-family: sans-serif;
    /* font-weight: 800; */
    font-size: 25px;
}
.hero .left p{
    text-align: justify;
    display: flex;
    margin-top: 20px;
    line-height: 40px;
}
.btn{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.btn button{
    width: 120px;
    text-align: center;
    border: 3px solid green;
    background-color: orange;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 25px;
    font-weight: 700;
    margin-right: 20px;
}
.btn .follow{
background-color: #daeafa;
 color: green;
}
.btn .follow:hover{
    color: black;
    background-color: orange;
}

.hero .right{
    width: 50%;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero .right img{
    width: 320px;
    height: 320px;
    border: 5px solid green;
    border-radius: 20px;
}


/* service */
.service h1{
    text-align: center;
    margin-top: 5px;
    color: black;
}
.service{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center

}
.cards {
    width: 70%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px auto;
}

.card{
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    height: 340px;
    text-align: center;
    border: 3px solid black;
    background-color: antiquewhite;
    margin-top: 10px;
    transition: 0.5s;
    

}
.card:hover{
    height: 360px;
    padding: 20px;
    

}
.card p{
    line-height: 35px;
}
.card img{
    width: 100%;
    height: 150px;
    border-radius: 20px;
    border: 2px solid ;

}





 .cards-container {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        width: 70%;
        margin: 0px auto;
        transition: 0.5s;
    }

    .card {
        background-color: #fff;
        width: 300px;
        border-radius: 10px;
        box-shadow: 0 5px 15px rgba(0,0,0,0.1);
        overflow: hidden;
        text-align: center;
        transition: transform 0.3s, box-shadow 0.3s;
    }

    .card:hover {
        transform: translateY(-10px);
        box-shadow: 0 15px 25px rgba(0,0,0,0.2);
    }

    .card img {
        width: 100%;
        height: 180px;
        object-fit: cover;
    }

    .card .text {
        padding: 20px;
    }

    .card .text h3 {
        color: #333;
        margin-bottom: 10px;
    }

    .card .text p {
        color: #666;
        line-height: 1.5;
    }




    .contact-form {
    /* background-color: rgb(245, 235, 235); */
    color: green;
    width: 400px;
    padding: 10PX 30px;
    border-radius: 10px;
    font-family: Arial, sans-serif;
    margin: 50px auto;
    border: 2px solid green;
    color: black;
}

.contact-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: green;
}

.contact-form label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid green;
    border-radius: 5px;
    /* background-color: black; */
    color: green;
    font-size: 16px;
}

.contact-form input:focus,
.contact-form textarea:focus {
    outline: none;
    border-color: limegreen;
}

.contact-form button {
    width: 100%;
    padding: 12px;
    border: 2px solid green;
    border-radius: 5px;
    background-color: green;
    color: black;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}


